<app-navbar></app-navbar>
<div class="container">

  <div class="row">
    <h4>List of Candiate </h4>
    <!-- <ul class="collapsible" id="listcandidate" data-collapsible="expandable"> -->
    <ul class="collapsible popout" id="listcandidate"  data-collapsible="accordion"  materialize="collapsible">
      <ng-container *ngFor="let user of users;let i = index">
        <li *ngIf="user != null" class="collection-item">
          <div class="collapsible-header">
            <table>
              <tr (click)="getCandidateDetails(user.userId)">
                <td> <i class="material-icons">filter_drama</i></td>
                <td> {{i+1}}.</td>
                <td> Name: {{user.name}} </td>
                <td> E-mail: {{user.email}} </td>
              </tr>
            </table>
          </div>
          <div class="collapsible-body">
            <table>
              <thead>
                <tr>
                  <th>Attempt</th>
                  <th>category</th>
                  <th>Score </th>
                  <th>TimeSpent(in sec)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attempt of examAttemptList;let i = index">
                  <td>{{i}}</td>
                  <td>{{attempt.categoryId}}</td>
                  <td>{{attempt.score}}</td>
                  <td>{{attempt.timeSpent}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ng-container>
      <!-- <li>
        <div class="collapsible-header">
          <i class="material-icons">filter_drama</i>First Section</div>
        <div class="collapsible-body">
          <p>This is first section.</p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          <i class="material-icons">place</i>Second Section</div>
        <div class="collapsible-body">
          <p>This is second section.</p>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>Third Section</div>
        <div class="collapsible-body">
          <p>This is third section.</p>
        </div>
      </li> -->
    </ul>


  </div>
</div>